/* Add your custom styles here for Desktop */
@media only screen and (min-width: 1024px) {
    html {
        font-size: 16px;
    }  
}

/* Add your custom styles here for Tablet */
@media only screen and (max-width: 1023px) {
    html {
        font-size: 24px;
    }  
}

/* Add your custom styles here for Mobile */
@media only screen and (max-width: 640px) {
    html {
        font-size: 24px;
    }
}

/* Add your custom styles here for smaller Mobile */
@media only screen and (max-width: 480px) {
    html {
        font-size: 24px;
    }  
}

/* @media only screen and (max-width: 640px) { */
/*   #header { display: none; } */
/* } */


/* @media (min-width: 858px) { */
/*     html { */
/*         font-size: 12px; */
/*     } */
/* } */

/* @media (min-width: 780px) { */
/*     html { */
/*         font-size: 11px; */
/*     } */
/* } */

/* @media (min-width: 702px) { */
/*     html { */
/*         font-size: 10px; */
/*     } */
/* } */

/* @media (min-width: 724px) { */
/*     html { */
/*         font-size: 9px; */
/*     } */
/* } */

/* @media (max-width: 623px) { */
/*     html { */
/*         font-size: 8px; */
/*     } */
/* } */